body{
background-color: gray;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
padding: 0;
margin: 0;

}

nav{

    background-color: white;
}

ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

li{
    padding: 15px;
}
li:hover{
    background-color: black;
    color: white;
}
.img1{
    width:200px; 
    height:200px;
}

.img2{
    width:200px; 
    height:200px;
}

.img3{
    width:200px; 
    height:200px;
}

.img4{
    width:200px; 
    height:200px;
}


.flexbox{
    background-color: lightblue;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buscar{
    margin: 20px;
}

.buscar >h1{
    color: blue;
    margin-bottom: 15px;
}

.buscar >div{
    display: inline-block;
    position: relative;
}

.buscar >div::after{
    content: "";
    background: black;
    width: 4px;
    height: 20px;
    position: absolute;
    top: 40px;
    right: 2px;
    transform: rotate(134deg);
}

.buscar >div>input{
    color: black;
    font-size: 16px;
    background: turquoise;
    width: 25px;
    height: 25px;
    padding: 10px;
    border: solid 3px black;
    outline: none;
    border-radius: 35px;
    transition: width 0.5s;
}

.buscar >div input::placeholder{
    color: black;
    opacity: 0;
    transition: opacity 150ms ease-out;
}

.buscar >div >input:focus::placeholder{
    opacity: 1;
}

.buscar>div>input:focus,
.buscar>div>input:not(:placeholder-shown)
{
    width: 250px;
}

input[type="search"]{
    padding: 10px;
    padding-right: 35px;
    border: none;
}
  